version: '3.8'
services:
mongo:
image: mongo:6
restart: always
ports:
- '27017:27017'
volumes:
- mongo-data:/data/db
backend:
build: ./backend
ports:
- '3001:3001'
environment:
- MONGODB_URI=mongodb://mongo:27017
- DB_NAME=meddb
depends_on:
- mongo
frontend:
build: ./frontend
ports:
- '3000:3000'
environment:
- REACT_APP_BACKEND=http://localhost:3001
depends_on:
- backend
volumes:
mongo-data: